In [11]:
# LIST  --- collection of certain items, separated by coma between square brackets
# Lists hold a collection of objects that are ordered and mutable (changeable), they are indexed and allow duplicate members.
# Lists are mutable ordered containers of other objects.

In [12]:
# create a list using square brackets
L = [1, '11', "1da", [1, 3], ["X", 10, (11, 7)]] # lists can have different types of elements
L

[1, '11', '1da', [1, 3], ['X', 10, (11, 7)]]

In [58]:
# create a list by invoking list constructor function
L1 = list([1, '11', "1da", [1, 3], ["X", 10, (11, 7)]])
L1

[1, '11', '1da', [1, 3], ['X', 10, (11, 7)]]

In [4]:
# type of a variable
type(L)

list

In [5]:
empty_list = [] # empty list has no elements
empty_list

[]

In [6]:
len(empty_list) # number of elements in a list

0

In [72]:
f = [11, 12, 13, 14] # create a list of elements 11, 12, 13, 14
f

[11, 12, 13, 14]

In [ ]:
# list concatenation by addition
f + [15, 16]
f

In [73]:
f += [15, 16] # add 15 and 16 right after 14 to f
f

[11, 12, 13, 14, 15, 16]

In [74]:
# add an item to the end of the list using the append() method of the List class
# this changes the actual list and does not create a copy of the list
# to add a single element 17 to the end of the list f
f.append(17) #, more likely append is the same as the incrementation, but takes exactly 1 element.
f

[11, 12, 13, 14, 15, 16, 17]

In [75]:
# we cannot add more elements at the same time with append
# f.append(18, 19, 20) # is not correct
# list concatenation by addition is a comparatively expensive operation 
# since a new list must be created and the objects copied over. 
# use extend to append elements to a list
f.extend([18, 19, 20])
f

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [89]:
# using extend method is faster
x = []
for li in ['A', 'B', 'C']:
    x.extend(li)

# than the concatenative alternative:
x = []
for li in ['A', 'B', 'C']:
    x = x + [li]

In [76]:
# insert element at a particular location
# insertion index must be between 0 and len(f), inclusive.

# insert is computationally expensive compared to append,
# because references to subsequent elements have to be shifted internally
# to make room for the new element.

f.insert(0,8) # insert 8 to the first element (which is indexed by 0)
f

[8, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [77]:
f.insert(1,9)
f

[8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [92]:
# The inverse operation to insert is pop, 
# which removes and returns an element at a particular index
p = f.pop(0) # remove and return the last element from the list
print( "f = ", f, "\n", "p = ", p)

f =  [14, 15, 16, 17, 18, 19, 20]
 p =  13

In [81]:
f.append(9)
f

[9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 9]

In [82]:
# locate the first such value and remove it
f.remove(9) # only the first instance of 9 is removed, nothing more
f

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 9]

In [83]:
f.remove(9)
f

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [84]:
f.remove(9)
f

ValueError: list.remove(x): x not in list

In [ ]:
del f[-1] # delete the last element (length of the list is reduced)

In [85]:
# check if a list contains a value
9 in f

False

In [86]:
9 not in f

True

In [ ]:
# Checking whether a list contains a value is a lot slower than doing so with dicts and sets (to be introduced shortly), 
# as Python makes a linear scan across the values of the list, 
# whereas it can check the others (based on hash tables) in constant time.

In [194]:
f.index(100) # returns the first index of a value 9 in a list f if the value already exists in a list

ValueError: 100 is not in list

In [355]:
#if an element appears in a list we can return its index

In [356]:
b = -1
if 100 in f:
    b = f.index(100)
b

-1

In [357]:
b = -1
if 9 in f:
    b = f.index(9)
b

1

In [358]:
# if an element exists in a list we can insert something directly after that.
f.insert(f.index(9)+1, 10)
f

[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [361]:
# The inverse operation to insert is pop, 
# which removes and returns an element at a particular index:
p = f.pop(0)
f

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [362]:
p

20

In [93]:
# sort a list in-place (without creating a new object) by calling its sort member function
f.sort() # sort elements (by default in ascending order)
f

[14, 15, 16, 17, 18, 19, 20]

In [97]:
# sort a list of strings by their lengths
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [364]:
f.sort(reverse=True) # sort elements in descending order
f

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9]

In [365]:
f.reverse() # reverse the list
f

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [366]:
max(f)

19

In [367]:
min(f)

9

In [368]:
f.count(10) # how many times an item appears in a list

1

In [369]:
f.count(5)

0

In [370]:
f.clear() # remove all the elements from a list
f == []

True

In [445]:
# adding two lists together with + concatenates them
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [447]:
2 * [1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [448]:
# List concatenation
['a', 'b', 'c'] + ['x', 'y']

['a', 'b', 'c', 'x', 'y']

In [449]:
2 * ['x', 'y']

['x', 'y', 'x', 'y']

In [371]:
# Slicing
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [372]:
L[0] # get the first element from the list

0

In [373]:
L[1] # get the second element from the list

1

In [374]:
len(L) # number of elements in the list, last element is indexed by len(L)-1

10

In [375]:
L[len(L)-1] # the last element in the list

9

In [376]:
L[len(L)-2] # second element from the back

8

In [377]:
L[-1] # different way of indexing elements last element is indexed by -1

9

In [378]:
L[-2] == L[len(L)-2]

True

In [379]:
list(range(10)) # list of numbers from 0 to 10 (including 0, but excluding 10, range(10)=[0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [380]:
g = []
k = 0
while k < 10:
    if (k % 2 == 0):
        g.append(k)
    k+=1
del k
g

[0, 2, 4, 6, 8]

In [381]:
g = []
for k in range(10):
    if (k % 2 == 0):
        g.append(k)
g

[0, 2, 4, 6, 8]

In [25]:
# List comprehensions
# form a new list by filtering the elements of a collection, 
# transforming the elements passing the filter in one concise expression

# create a list of even numbers using list comprehension
[k for k in range(10) if k % 2 == 0]

[0, 2, 4, 6, 8]

In [664]:
# if the condition contains else part, those togeter come before the for loop part
[k if k % 2 == 0 else k**2 for k in range(10)]

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81]

In [26]:
# the filter condition can be omitted, leaving only the expression
[k**2 for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# we have a nested list of some English and Spanish names
# and we decided to organize them by language
# Now, suppose we wanted to get a single list containing all names with two or more 'e's in them
names = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
names_of_interest = []
for name in names:
    enough_es = [n for n in name if n.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [36]:
# nested list comprehensions
# wrap this whole operation up in a single nested list comprehension
names = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
names_of_interest = [n for name in names for n in name if n.count('e') >= 2]
names_of_interest

['Steven']

In [37]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# You can have arbitrarily many levels of nesting, 
# though if you have more than two or three levels of nesting 
# you should probably start to question whether this makes sense from a code readability standpoint.

In [39]:
# produces a list of lists, rather than a flattened list
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [383]:
[L[0], L[1], L[2]] # create a new list of the first three element from the list

[0, 1, 2]

In [384]:
[L[k] for k in range(3)]

[0, 1, 2]

In [385]:
# select sections of most sequence types by using slice notation
# hile the element at the start index is included, the stop index is not included
L[0:3] # first 3 elements in the list L[0:3] = [L[0], L[1], L[2]]

[0, 1, 2]

In [386]:
# Either the start or stop can be omitted
L[:3] # if the first argument is not specified, it means it is zero (L[:3]==L[0:3])

[0, 1, 2]

In [387]:
L[3:] # if the second argument is not specified it means it is the last element

[3, 4, 5, 6, 7, 8, 9]

In [388]:
L[:] # from the first to the last (both arguments neither specified) which means it is the whole list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [432]:
list(range(0,10,2)) # exactly the same, but the most efficient way (create a range from 0 to 10 but exclude every second item)

[0, 2, 4, 6, 8]

In [389]:
L[1:4] # 3 elements after the first

[1, 2, 3]

In [390]:
[L[4], L[5], L[6]]

[4, 5, 6]

In [391]:
[L[k] for k in range(4,7)]

[4, 5, 6]

In [392]:
L[4:7]

[4, 5, 6]

In [393]:
# A step can also be used after a second colon
# specify a skipping (1 means every element included between 4th and 7th (7th still excluded))
L[4:7:1]

[4, 5, 6]

In [394]:
L[4:7:2] # hold every second element

[4, 6]

In [395]:
L[-3:-1] # -1 is the last element (which is excluded)

[7, 8]

In [396]:
# Negative indices slice the sequence relative to the end
L[-3:] # we can include the last element as well

[7, 8, 9]

In [397]:
L[-3:-1:1] # number of steps can be specified

[7, 8]

In [398]:
L[:-4:-1] # if the number of steps is negative it means the order of the elements will be reversed

[9, 8, 7]

In [399]:
# pass -1 to reverse the list
L[::-1] # all the elements in reversed order

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [400]:
L.reverse()
L

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [401]:
reversed(L)

In [299]:
list(reversed(L))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [402]:
# slice assignment
L[1:3] = [11, 12]
L

[9, 11, 12, 6, 5, 4, 3, 2, 1, 0]

In [403]:
L[1:3]=[] # remove elements using slicing assignment
L

[9, 6, 5, 4, 3, 2, 1, 0]

In [404]:
LL = L # looks like this assignment create a copy of list L, but it is just a reference
LL

[9, 6, 5, 4, 3, 2, 1, 0]

In [405]:
LL[0]=100 # we change the first element of LL
LL

[100, 6, 5, 4, 3, 2, 1, 0]

In [406]:
L # as LL is a reference to L, L[0] changed to 100 as well

[100, 6, 5, 4, 3, 2, 1, 0]

In [407]:
LLL=list(LL) # now we copied the LL list, LLL is not a reference to LL
LLL

[100, 6, 5, 4, 3, 2, 1, 0]

In [408]:
LLL[0]=1
LLL

[1, 6, 5, 4, 3, 2, 1, 0]

In [409]:
LL # LL list remains the same

[100, 6, 5, 4, 3, 2, 1, 0]

In [410]:
# this approach fails when the list has list elements

In [411]:
X = [[10, 2], [20, 3], [30, 4]]
X

[[10, 2], [20, 3], [30, 4]]

In [412]:
Y = list(X)
Y

[[10, 2], [20, 3], [30, 4]]

In [413]:
Y[0][0] = 100
Y

[[100, 2], [20, 3], [30, 4]]

In [414]:
X

[[100, 2], [20, 3], [30, 4]]

In [415]:
import copy

In [416]:
Y = copy.deepcopy(X)

In [417]:
X[0][0] = 10
X

[[10, 2], [20, 3], [30, 4]]

In [418]:
Y

[[100, 2], [20, 3], [30, 4]]

In [419]:
import itertools

In [420]:
flatY=list(itertools.chain(*Y))

In [421]:
flatY

[100, 2, 20, 3, 30, 4]

In [422]:
X = [1, 1, 2, 3, 3, 4, 5, 3, 2, 3]
X

[1, 1, 2, 3, 3, 4, 5, 3, 2, 3]

In [423]:
[k for k in X if X.count(k)>1] # find all the repeated elements

[1, 1, 2, 3, 3, 3, 2, 3]

In [425]:
list(set([k for k in X if X.count(k)>1])) # these are the duplicated elements in X

[1, 2, 3]

In [426]:
from collections import deque

In [427]:
Z=deque(X)

In [428]:
Z.rotate(1)

In [430]:
list(Z)

[3, 1, 1, 2, 3, 3, 4, 5, 3, 2]

In [ ]:
# enumerate

In [ ]:
# It’s common when iterating over a sequence to want to keep track of the index of the current item.

In [98]:
# do-it-yourself approach
i = 0
for c in ['A', 'B', 'C']:
    print(i, c)
    i += 1

0 A
1 B
2 C

In [99]:
for i, c in enumerate(['A', 'B', 'C']):
    print(i, c)

0 A
1 B
2 C

In [100]:
# The sorted function returns a new sorted list from the elements
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [101]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [107]:
# zip “pairs” up the elements of a number of lists to create a list of tuples
z = zip(['A', 'B', 'C'], [1, 2, 3])
list(z)

[('A', 1), ('B', 2), ('C', 3)]

In [108]:
# zip can take an arbitrary number of sequences, 
# and the number of elements it produces is determined by the shortest sequence
z = zip(['A', 'B', 'C'], [1, 2, 3], [True, False])
list(z)

[('A', 1, True), ('B', 2, False)]

In [ ]:
#A very common use of zip is simultaneously iterating over multiple sequences, possibly also combined with enumerate

In [109]:
for i, (a, b) in enumerate(zip(['A', 'B', 'C'], [1, 2, 3])):
    print('{index}: {alphabet}, {number}'.format(index=i, alphabet=a, number=b))

0: A, 1
1: B, 2
2: C, 3

In [110]:
# zip can be applied in a clever way to “unzip” the sequence
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
print(pitchers)

[('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [112]:
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [113]:
# reversed is a generator
# it does not create the reversed sequence until materialized with the list constructor
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
import numpy as np

In [ ]:
list(np.arange(0,10, 2))

In [ ]:
np.linspace(0, 8, 5, dtype="int")  # by default, np.linspace returns an array filled with doubles

In [ ]:
#  STRING

In [433]:
sentence = "I got this feeling on the summer day when you were gone"
sentence

'I got this feeling on the summer day when you were gone'

In [440]:
type(sentence)

str

In [441]:
sentence[0] # we can access the characters in the string the same way as in lists

'I'

In [442]:
sentence[-1]

'e'

In [435]:
sentence_list = sentence.split(" ")
sentence_list

['I',
 'got',
 'this',
 'feeling',
 'on',
 'the',
 'summer',
 'day',
 'when',
 'you',
 'were',
 'gone']

In [436]:
type(sentence_list)

list

In [437]:
s = " ".join(sentence_list)
s

'I got this feeling on the summer day when you were gone'

In [154]:
word = "hello"

In [155]:
word_list = list(word) # create a list from a string

In [438]:
integer = 12345
integer

12345

In [159]:
integer_list = list(integer) # this not works

TypeError: 'int' object is not iterable

In [439]:
integer_list = list(str(integer)) # is there any way to specify datatype ???
integer_list

['1', '2', '3', '4', '5']

In [174]:
np.array(integer, dtype="int")

array(12345)

In [176]:
[k for k in str(integer)]

['1', '2', '3', '4', '5']

In [ ]:
# DICTIONARY
#
# A dictionary is an unordered collection that is indexed by a key which references a value.
# more common name for it is hash map or associative array
# The value is returned when the key is provided.

In [118]:
# create a dict using curly braces
d = {'A': 1, 'B' : 2, 'C' : 3, 'D' : 4}
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [119]:
# keys and values method give you iterators of the dict’s keys and values, respectively
d.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [120]:
d.values()

dict_values([1, 2, 3, 4])

In [121]:
# create a dict using the dict constructor
d1 = dict(zip(d.keys(),d.values()))
d1

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [122]:
d == d1

True

In [123]:
empty_dict = {}

In [124]:
empty_dict = dict()

In [453]:
type(d.keys())

dict_keys

In [454]:
d.values()

dict_values([1, 2, 3, 4])

In [456]:
type(d.values())

dict_values

In [459]:
d.update({'E' : 5})
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [460]:
d.update({'A' : 1})
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [461]:
d.update({'A' : 10})
d

{'A': 10, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [125]:
'A' in d.keys()

True

In [127]:
'A' in list(d.keys())

True

In [471]:
list(d.keys()).count('A')

1

In [472]:
list(d.keys()).count('X')

0

In [473]:
# update the dict only if the key is not in the dict already
if not list(d.keys()).count('A'):
    d.update({'A': 100})
d

{'A': 10, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [474]:
if not list(d.keys()).count('X'):
    d.update({'X': 100})
d

{'A': 10, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'X': 100}

In [128]:
# accessing elements of a dict
d['A']

1

In [132]:
# insert or modify element in a dict
d['Y'] = 10000
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'Y': 10000}

In [133]:
# check if a dict contains a key
'A' in d

True

In [134]:
'Z' in d

False

In [135]:
# delete values using the del keyword
del d['Y']
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [136]:
# delete values using the pop method
p= d.pop('D')
d

{'A': 1, 'B': 2, 'C': 3}

In [137]:
# pop method returns the popped value (instead of the key)
p

4

In [138]:
# merge one dict into another using the update method, it changes dicts in-place
d.update({'X': 98, 'Y' : 99, 'Z' : 100})
d

{'A': 1, 'B': 2, 'C': 3, 'X': 98, 'Y': 99, 'Z': 100}

In [144]:
# Creating dicts from sequences
d = {}
for key, value in zip(['A', 'B', 'C', 'D'], [1, 2, 3, 4]):
    d[key] = value
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [5]:
d = dict(zip(['A', 'B', 'C', 'D'], [1, 2, 3, 4]))
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [6]:
# Default values
default_value = 0
if 'U' in d.keys():
    value = d[key]
else:
    value = default_value
value

0

In [7]:
# the above if-else block can be written simply as
value = d.get('U', default_value)
value

0

In [ ]:
# get by default will return None if the key is not present, while pop will raise an exception

In [8]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = dict()
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [10]:
# The setdefault dict method is for precisely this purpose
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = dict()
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [13]:
# The built-in collections module has a useful class, defaultdict, which makes this even easier.
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter=dict(by_letter)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [14]:
# the values of a dict can be any Python object
# keys generally have to be immutable objects like scalar types (int, float, string) 
# or tuples (all the objects in the tuple need to be immutable, too).
# The technical term here is hashability.
# check whether an object is hashable
hash('string')

6538613774481490097

In [15]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [16]:
# use a list as a key, one option is to convert it to a tuple, which can be hashed as long as its elements also can
d = dict()
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [ ]:
# dict comprehension
d = {key : value for value in collection if condition}

In [28]:
{val : index for index, val in enumerate(list('ABCDEF'))}

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5}

In [30]:
{val : index for index, val in enumerate(list('ABCDEF')) if index % 2 == 0}

{'A': 0, 'C': 2, 'E': 4}

In [31]:
# how to do dict comprehension with if else part
{val : index if index % 2 == 0 else val : index for index, val in enumerate(list('ABCDEF'))}

SyntaxError: invalid syntax (<ipython-input-31-2e1511a7b7be>, line 1)

In [34]:
# map: apply a function to a list by elements
list(map(len, ['A', 'AA', 'AAA']))

[1, 2, 3]

In [480]:
d[['A','B']]

TypeError: unhashable type: 'list'

In [481]:
[x for x in d.keys()]

['A', 'B', 'C', 'D', 'E', 'X']

In [482]:
[x for x in d]

['A', 'B', 'C', 'D', 'E', 'X']

In [485]:
[d[x] for x in d]

[10, 2, 3, 4, 5, 100]

True

False

In [491]:
{'A' : 10} in d

TypeError: unhashable type: 'dict'

In [492]:
key, value = 'A', 10
key in d and value == d[key]

True

In [493]:
key, value = 'B', 10
key in d and value == d[key]

False

In [496]:
d.get('A')

10

In [498]:
d.get('Y')

In [501]:
d.get('A','B')

10

In [503]:
# Checking Key Membership
('A', 1) in d.items()

False

In [504]:
('A', 10) in d.items()

True

In [ ]:
'''
Actually, none of the answers captures the full problem. 
If the value that is being queried for happens to be None or whatever default value one provides, 
the get()-based solutions fail. 
The following might be the most generally applicable solution, 
not relying on defaults, truly checking the existence of a key (unlike get()), 
and not over-'except'-ing KeyErrors (unlike the other try-except answer) 
while still using O(1) dict lookup (unlike items() approach):

'''

In [ ]:
try:
    assert my_dict[key] == value:
except (KeyError, AssertionError):
    do_sth_else()  # or: pass
else:
    do_something()

In [ ]:
d.get('A')

In [659]:
len(d)

6

In [662]:
d

{'A': 10, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'X': 100}

In [663]:
d.fromkeys('A','B')

{'A': 'B'}

In [ ]:
#setdefault()

In [ ]:
#copy

In [476]:
empty_dict = dict()

In [478]:
d1 = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
d2 = {'A': 10, 'B': 2, 'C': 30, 'E': 50, 'X' : 1000}
d1.update(d2)
d1

{'A': 10, 'B': 2, 'C': 30, 'D': 4, 'E': 50, 'X': 1000}

In [502]:
d1.items() <= d2.items()

False

In [649]:
dict1 = dict(uk='London', ireland='Dublin', france='Paris')
dict1

{'uk': 'London', 'ireland': 'Dublin', 'france': 'Paris'}

In [648]:
dict1 = dict([('uk', 'London'), ('ireland', 'Dublin'), ('france', 'Paris')])
dict1

{'uk': 'London', 'ireland': 'Dublin', 'france': 'Paris'}

In [650]:
dict1 = dict((['uk', 'London'], ['ireland', 'Dublin'], ['france', 'Paris']))
dict1

{'uk': 'London', 'ireland': 'Dublin', 'france': 'Paris'}

In [652]:
# pop(<key>) method removes the entry with the specified key and returns the value of the key being deleted
p = dict1.pop('france')
p

'Paris'

In [653]:
dict1

{'uk': 'London', 'ireland': 'Dublin'}

In [654]:
dict1['hungary'] = 'Budapest'
dict1

{'uk': 'London', 'ireland': 'Dublin', 'hungary': 'Budapest'}

In [655]:
# remove the last inserted element
dict1.popitem()

('hungary', 'Budapest')

In [656]:
dict1

{'uk': 'London', 'ireland': 'Dublin'}

In [657]:
del dict1['ireland']

In [4]:
a = ['A', 'B', 'C']
b = [111, 112, 113]
z = zip(a,b)
z

In [5]:
z=list(z)
z

[('A', 111), ('B', 112), ('C', 113)]

In [6]:
#revert zipping
c, d = zip(*z)

In [7]:
c

('A', 'B', 'C')

In [8]:
d

(111, 112, 113)

In [9]:
d = dict(zip(c, d))
d

{'A': 111, 'B': 112, 'C': 113}

In [ ]:
# Python 3.x introduced dictionary comprehension

In [11]:
D = {x: x**2 for x in range(11)}
D

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
D = {x.upper(): x*3 for x in 'abcd'}
D

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [14]:
D = dict.fromkeys(['a','b','c'], 0)
D

{'a': 0, 'b': 0, 'c': 0}

In [16]:
D = {k: 0 for k in ['a','b','c']}
D

{'a': 0, 'b': 0, 'c': 0}

In [17]:
D = dict.fromkeys('dictionary')
D

{'d': None,
 'i': None,
 'c': None,
 't': None,
 'o': None,
 'n': None,
 'a': None,
 'r': None,
 'y': None}

In [18]:
D = {k:None for k in 'dictionary'}
D

{'d': None,
 'i': None,
 'c': None,
 't': None,
 'o': None,
 'n': None,
 'a': None,
 'r': None,
 'y': None}

In [ ]:
# TUPLES
# A Tuple represents a collection of objects that are ordered and immutable (cannot be modified).
# Tuples can hold different types

In [13]:
# invoke the tuple constructor function
t = tuple((1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A' : 1, 'B' : 2}))
t

(1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [14]:
type(t)

tuple

In [15]:
t1 = 1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A' : 1, 'B' : 2}
t1

(1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [16]:
t == t1

True

In [17]:
t2 = (1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A' : 1, 'B' : 2})
t2

(1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [18]:
t == t2

True

In [511]:
# sequences are 0-indexed in Python
t[0]

1

In [512]:
type(t[0])

int

In [21]:
# once the tuple is created it’s not possible to modify which object is stored in each slot
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [22]:
t

(1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [23]:
# If an object inside a tuple is mutable, it can be modified in-place
t[5].append(1)
t

(1, '10', 'abc', 'X1', 100.1001, [3, 2, 1], {'A': 1, 'B': 2})

In [26]:
# concatenate tuples using the + operator
t + tuple([['1', '2', '3']])

(1, '10', 'abc', 'X1', 100.1001, [3, 2, 1], {'A': 1, 'B': 2}, ['1', '2', '3'])

In [27]:
# concatenating together many copies of a tuple
('A', 'B') * 4

('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [31]:
# objects themselves are not copied, only the references to them.
x = [1,2]
g = tuple(['1', x])
g

('1', [1, 2])

In [32]:
x.append(3)
g

('1', [1, 2, 3])

In [33]:
# unpacking tuples
g1, g2 = g

In [35]:
g1

'1'

In [36]:
g2

[1, 2, 3]

In [ ]:
g2 == x

In [37]:
g = 4, 5, (6, 7)
g

(4, 5, (6, 7))

In [38]:
g1, g2, (g31, g32) = g

In [39]:
g31

6

In [40]:
g32

7

In [41]:
# swap variable names
a = 1
b = 2
tmp = a
a = b
b = tmp
(a, b)

(2, 1)

In [42]:
# do the same without tmp
a, b = 1, 2
b, a = a, b
(a, b)

(2, 1)

In [46]:
s = tuple([(1, 2, 3), (4, 5, 6), (7, 8, 9)])
for a, b, c in s:
    print('a={A}, b={B}, c={C}'.format(A=a, B=b, C=c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [50]:
# “pluck” a few elements from the beginning of a tuple. 
# use the special syntax *rest, (which is also used in function signatures)
# to capture an arbitrarily long list of positional arguments
v = tuple([1, 2, 3, 4, 5])
a, b, *c = v
c

[3, 4, 5]

In [51]:
# use underscore for unwanted variables
v = tuple([1, 2, 3, 4, 5])
a, b, *_ = v
(a, b)

(1, 2)

In [53]:
len(v)

5

In [56]:
v.count(2)

1

In [57]:
v.index(1)

0

In [513]:
t[1]

'10'

In [514]:
type(t[1])

str

In [509]:
t[-1]

{'A': 1, 'B': 2}

In [510]:
type(t[-1])

dict

In [515]:
# length of a tuple
len(t)

7

In [516]:
# length of t[5] which is a list
len(t[5])

2

In [517]:
t[5][0]

3

In [536]:
t[1:3]

('10', 'abc')

In [537]:
t[0:5]

(1, '10', 'abc', 'X1', 100.1001)

In [538]:
# if the first index is omitted it indicates that the slice should start from the beginning of the tuple
t[:5]

(1, '10', 'abc', 'X1', 100.1001)

In [539]:
t[3:len(t)]

('X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [540]:
# omitting the last index indicates it should go to the end of the tuple
t[3:]

('X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [541]:
t[:]

(1, '10', 'abc', 'X1', 100.1001, [3, 2], {'A': 1, 'B': 2})

In [542]:
t == t[:]

True

In [549]:
t[1:6:2] # (t[1], t[3], t[5])

('10', 'X1', [3, 2])

In [550]:
t[5:0:-2] # (t[5], t[3], t[1])

([3, 2], 'X1', '10')

In [551]:
t[::-1] # reverse t

({'A': 1, 'B': 2}, [3, 2], 100.1001, 'X1', 'abc', '10', 1)

In [554]:
tuple(reversed(t))

({'A': 1, 'B': 2}, [3, 2], 100.1001, 'X1', 'abc', '10', 1)

In [555]:
# iterate over the contents of a tuple
for j in t:
    print(j)

1
10
abc
X1
100.1001
[3, 2]
{'A': 1, 'B': 2}

In [556]:
t.count({'A': 1, 'B': 2})

1

In [557]:
t.count(100)

0

In [558]:
t.count(10)

0

In [559]:
t.count('10')

1

In [560]:
# the (first) index of a value in a tuple if the value exists in a tuple
t.index(100.1001)

4

In [561]:
t.index(101)

ValueError: tuple.index(x): x not in tuple

In [565]:
if t.count(101):
    print(t.index(101))

In [566]:
if t.count('10'):
    print(t.index('10'))

1

In [567]:
if 101 in t:
    print(t.index(101))

In [568]:
if '10' in t:
    print(t.index('10'))

1

In [569]:
# Nested Tuples
nested_tuple = ((1, 3), (5, 7, 9), (2), (4, 6, 8, 10))
nested_tuple

((1, 3), (5, 7, 9), 2, (4, 6, 8, 10))

In [570]:
nested_tuple[1]

(5, 7, 9)

In [571]:
nested_tuple[1][0]

5

In [572]:
nested_tuple[0][1]

3

In [574]:
nested_tuple[[1,0]]

TypeError: tuple indices must be integers or slices, not list

In [1]:
tup1=tuple([1, 3, 5, 7, 9])

In [2]:
print('tup1[0]:\t', tup1[0])
print('tup1[1]:\t', tup1[1])
print('tup1[2]:\t', tup1[2])
print('tup1[3]:\t', tup1[3])

tup1[0]:	 1
tup1[1]:	 2
tup1[2]:	 3
tup1[3]:	 4

In [20]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

('X1', '10')

({'A': 1, 'B': 2}, 100.1001, 'abc')

In [519]:
empty_tuple = tuple()
empty_tuple

()

In [527]:
type(empty_tuple)

tuple

In [532]:
untupled_list = ([1, 2, 3])
untupled_list

[1, 2, 3]

In [533]:
tupled_list = tuple([1, 2, 3])
tupled_list

(1, 2, 3)

In [534]:
untupled_list == tupled_list

False

In [535]:
tuple(untupled_list) == tupled_list

True

In [ ]:
# SETS
# A Set is an unordered (unindexed) collection of immutable objects that does not allow duplicates.

In [17]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [18]:
set((2, 2, 2, 1, 3, 3))

{1, 2, 3}

In [19]:
# created a set by using the set literal with curly braces:
s = {2, 2, 2, 1, 3, 3}
s

{1, 2, 3}

In [581]:
type(s)

set

In [583]:
s = {10, 11, 12, 10, 11}
s

{10, 11, 12}

In [584]:
{10, 11, 12, 10, 11} == {10, 11, 12}

True

In [585]:
for x in s:
    print(x)

10
11
12

In [586]:
# Checking for presence of an element
10 in s

True

In [587]:
15 in s

False

In [588]:
# Adding items to a set
s.add(13)
s

{10, 11, 12, 13}

In [589]:
s.update((14,15))
s

{10, 11, 12, 13, 14, 15}

In [590]:
len(s)

6

In [591]:
max(s)

15

In [592]:
min(s)

10

In [593]:
s.remove(15)
s

{10, 11, 12, 13, 14}

In [594]:
s.remove(15)

KeyError: 15

In [595]:
s.discard(14)
s

{10, 11, 12, 13}

In [596]:
s.discard(14)

In [598]:
p = s.pop()
p

10

In [599]:
s

{11, 12, 13}

In [600]:
s.clear()
s

set()

In [601]:
s == {}

False

In [602]:
empty_set = set()

In [603]:
s == empty_set

True

In [606]:
# Nesting Sets
r = {(1, 2, 3)}
r

{(1, 2, 3)}

In [607]:
r = {[1, 2, 3]}
r

TypeError: unhashable type: 'list'

In [608]:
r = {{1, 2, 3}}
r

TypeError: unhashable type: 'set'

In [610]:
r = set([1,2,3])
r

{1, 2, 3}

In [611]:
s1 = {frozenset({1, 2, 3})}
s1

{frozenset({1, 2, 3})}

In [612]:
s2 = {frozenset([1, 2, 3])}
s2

{frozenset({1, 2, 3})}

In [614]:
s = set([5, 6, 7, 8, 9])
r = set([8, 9, 10, 11])

In [629]:
# union of sets is the set of distinct elements occurring in either set
# | binary operator
s | r

{5, 6, 7, 8, 9, 10, 11}

In [630]:
# union method
s.union(r)

{5, 6, 7, 8, 9, 10, 11}

In [631]:
# intersection of sets contains the elements occurring in each sets
# & operator
s & r

{8, 9}

In [633]:
# intersection method
s.intersection(r)

{8, 9}

In [634]:
# Difference
s - r

{5, 6, 7}

In [635]:
# Difference
s.difference(r)

{5, 6, 7}

In [636]:
r - s

{10, 11}

In [637]:
r.difference(s)

{10, 11}

In [638]:
# symmetric difference
s ^ r

{5, 6, 7, 10, 11}

In [639]:
# symmetric difference
s.symmetric_difference(r)

{5, 6, 7, 10, 11}

In [628]:
# symmetric difference
(s - r) | (r - s)

{5, 6, 7, 10, 11}

In [624]:
# symmetric difference
(s | r) - (s & r)

{5, 6, 7, 10, 11}

In [640]:
set([1,2,3]).isdisjoint(set([4,5,6]))

True

In [641]:
set([1,2,3]).isdisjoint(set([3, 4,5,6]))

False

In [643]:
set([1,2,3]).issubset(set([1,2,3,4,5,6]))

True

In [646]:
set([1,2,3,4,5,6]).issuperset(set([1,2,3]))

True

In [21]:
a = set([3,4,5,6])
b = set([5,6,7,8])

In [ ]:
# All of the logical set operations have in-place counterparts, 
# which enable you to replace the contents of the set on the left side of the operation with the result. 
# For very large sets, this may be more efficient: (c |= b, d &= b)

In [22]:
# Add element x to the set a
a.add(2)
a

{2, 3, 4, 5, 6}

In [23]:
# Remove element x from the set a
a.remove(6)
a

{2, 3, 4, 5}

In [ ]:
# Reset the set a to an empty state, discarding all of its elements
a.clear()

In [ ]:
# Remove an arbitrary element from the set a, raising KeyError if the set is empty
a.pop()

In [ ]:
# All of the unique elements in a and b
a.union(b)

In [ ]:
a | b

In [ ]:
# Set the contents of a to be the union of the elements in a and b
a.update(b)

In [ ]:
a |= b

In [ ]:
# All of the elements in both a and b
a.intersection(b)

In [ ]:
a & b

In [ ]:
# Set the contents of a to be the intersection of the elements in a and b
a.intersection_update(b)

In [ ]:
a &= b

In [ ]:
# The elements in a that are not in b
a.difference(b)

In [ ]:
a - b

In [ ]:
# Set a to the elements in a that are not in b
a.difference_update(b)

In [ ]:
a -= b

In [ ]:
# All of the elements in either a or b but not both
a.symmetric_difference(b)

In [ ]:
a ^ b

In [ ]:
# Set a to contain the elements in either a or b but not both
a.symmetric_difference_update(b)

In [ ]:
a ^= b

In [ ]:
# check if a set is a subset of another set
# True if the elements of a are all contained in b
a.issubset(b)

In [ ]:
# check if a set is a superset of another set
# True if the elements of b are all contained in a
a.issuperset(b)

In [ ]:
# True if a and b have no elements in common
a.isdisjoint(b)

In [24]:
# Sets are equal if and only if their contents are equal
{1, 2, 3} == {3, 2, 1}

True

In [41]:
# set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets
{x for x in ['A', 'AA', 'B', 'BB', 'C', 'CC'] if len(x)>1}

{'AA', 'BB', 'CC'}

In [ ]:
# Functions
# Functions are declared with the def keyword and returned from with the return keyword

In [ ]:
# If Python reaches the end of a function without encountering a return statement, None is returned automatically.
# Each function can have positional arguments and keyword arguments. 
# Keyword arguments are most commonly used to specify default values or optional arguments.
# The main restriction on function arguments is that the keyword arguments must follow the positional arguments (if any).

# You can specify keyword arguments in any order; 
# this frees you from having to remember which order the function arguments were specified in and only what their names are.

In [42]:
# x and y are positional arguments while z is a keyword argument
def function_name(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [43]:
# this means that the function can be called in any of these ways:
function_name(5, 6, z=0.7)

0.06363636363636363

In [44]:
function_name(3.14, 7, 3.5)

35.49

In [45]:
function_name(10, 20)

45.0

In [46]:
# It is possible to use keywords for passing positional arguments as well.
function_name(x=10, y=20)

45.0

In [47]:
function_name(y=20, x=10)

45.0

In [ ]:
# Functions can access variables in two different scopes: global and local.

In [ ]:
# An alternative and more descriptive name describing a variable scope in Python is a namespace.
# Any variables that are assigned within a function by default are assigned to the local namespace.
# The local namespace is created when the function is called and immediately populated by the function’s arguments.
# After the function is finished, the local namespace is destroyed

In [51]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [54]:
a = [] # this a exist outside of func
def func():
    for i in range(5):
        a.append(i) # it is another a exists only in func's namespace
a

[]

In [56]:
# outside of the function’s scope is possible, but those variables must be declared as global via the global keyword
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
a

[]

In [ ]:
# do no do it! global variables are evil

In [57]:
# return multiple values from a function
# the f function is actually returning one object, namely a tuple
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [59]:
r = f()

In [60]:
type(r)

tuple

In [61]:
def f():
    a = 5
    b = 6
    c = 7
    return [a, b, c]

In [62]:
r = f()

In [63]:
type(r)

list

In [64]:
# potentially attractive alternative to returning multiple values like before might be to return a dict instead
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [65]:
type(f())

dict

In [66]:
# regular expressions
import re

In [67]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [68]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [69]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [70]:
def short_function(x):
    return x * 2

In [71]:
# lambda expression
equiv_anon = lambda x: x * 2

In [72]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [73]:
apply_to_list([1,2,3,4], short_function)

[2, 4, 6, 8]

In [74]:
apply_to_list([1,2,3,4], lambda x: x * 2)

[2, 4, 6, 8]

In [80]:
# pass a lambda function to the list’s sort method
y = ['CC2', 'DFS3', 'A1', 'B1']
y.sort(key=lambda x: len(list(x)))
y

['A1', 'B1', 'CC2', 'DFS3']

In [ ]:
# One reason lambda functions are called anonymous functions is that, 
# unlike functions declared with the def keyword, the function object itself is never given an explicit __name__ attribute.

In [81]:
# Currying is computer science jargon (named after the mathematician Haskell Curry) 
# that means deriving new functions from existing ones by partial argument application.
def add_numbers(x, y):
    return x + y

In [82]:
# The second argument to add_numbers is said to be curried.
add_five = lambda y: add_numbers(5, y)

In [83]:
# The built-in functools module can simplify this process using the partial function
from functools import partial
add_five = partial(add_numbers, 5)

In [ ]:
# Generators

In [49]:
func()

In [50]:
del a

In [ ]:
, x=10