In [ ]:
#Comments are sections of a program that are ignored by the Python interpreter â€” they are not executable code.

In [4]:
# print() is a predefined function that can be used to print things out
# predefined means that it is built into the Python environment and is understood by the Python interpreter.
print('Hello World')

Hello World

In [5]:
print(42)

42

In [21]:
# assignment operator
# It is used to assign a something to a variable.
x = 10

In [10]:
# input() function prints something you provide as a prompt to the user 
# and wait until the user types something in followed by the return key.
user_name = input('Enter your name: ')

Enter your name: Csaba

In [11]:
print('Hello ' + user_name)

Hello Csaba

In [12]:
# type of a variable
type(user_name)

str

In [20]:
'''
Built-in types:
    Logical type(s): bool 
    Numeric type(s): int, float, complex
    Sequence type(s): tuple, list, range
    Text sequence type(s): str
    Binary sequence type(s): bytes, bytearray, memoryview
    Set type(s): set, frozenset
    Mapping type(s): dict
'''

'\nBuilt-in types:\n    Logical type(s): bool \n    Numeric type(s): int, float, complex\n    Sequence type(s): tuple, list, range\n    Text sequence type(s): str\n    Binary sequence type(s): bytes, bytearray, memoryview\n    Set type(s): set, frozenset\n    Mapping type(s): dict\n'

In [ ]:
# variables are dynamically typed in python
x = 'ABC'
x = True
x = 10

In [ ]:
# statically typed programming languages: Java and C#

In [14]:
type(True)

bool

In [15]:
type(11)

int

In [16]:
type(7.1)

float

In [183]:
type(1+1j)

complex

In [ ]:
#  STRING
# string is a sequence of characters between two single or double quotes (from the same type) 
# these characters delimit the start and end of the string

In [ ]:
# Strings are immutable. 
# Immutable means that once a string has been created it cannot be changed.

In [26]:
string1 = "ABC"
string1

'ABC'

In [24]:
string2 = 'ABC'
string2

'ABC'

In [27]:
string1 == string2

True

In [28]:
empty_string = ''

In [29]:
# mixing single and double quotes to enclose the same string is not allowed
print('ABC") # it means ': the string starts here, contains 3 letters: A, B, C, a double quote (") and a closing parenthesis, but its ending is not indicated by a closing single quote(')

SyntaxError: EOL while scanning string literal (<ipython-input-29-1504b7e46d2b>, line 2)

In [ ]:
# mixing single and double quotes to enclose the same string is not allowed
print("ABC') # it means ": the string starts here, contains 3 letters: A, B, C, a single quote (') and a closing parenthesis, but its ending is not indicated by a closing double quote(")

In [ ]:
# strings can contain single or double quotes but only if it is not misleading
print("It's the day")
print('She said "hello" to everyone')

In [32]:
# multi-line strings (supports to use both type of quotes within the string)

multi_line_string = """
fh"dfod
ff'd
xx1
"""

multi_line_string

'\nfh"dfod\nff\'d\nxx1\n'

In [50]:
# String Concatenation
s = "Hello" + ' ' + 'there'
s

'Hello there'

In [51]:
# length of a string
len(s)

11

In [52]:
# Accessing a Character
s[0] # zero based indexing: first index is 0.

'H'

In [53]:
s[len(s)-1] # last element is len(s)-1 as the first was 0.

'e'

In [54]:
s[-1] # last element

'e'

In [61]:
# obtain a substring from the original string
s[0:5] # subsequent of s[0], s[s], s[2], s[3] and s[4] (value in index 0 is included, but the value in index 5 excluded)

'Hello'

In [62]:
s[:5] # if the first argument is omitted, it is 0 by default

'Hello'

In [63]:
s[6:11]

'there'

In [66]:
s[6:len(s)] # as the value in index len(s) is excluded, it means the last included index is len(s)-1 which is the end of s

'there'

In [ ]:
s[6:] # if the second argument is omitted, it is the lenght of the string by default

In [65]:
s[:] # if both indices are omitted it means from the first index (index 0) till the last = this is the whole string

'Hello there'

In [67]:
s == s[:]

True

In [72]:
# repeating strings
"ABC " * 3

'ABC ABC ABC '

In [73]:
"O" + " bella ciao" * 3 + " ciao" * 2

'O bella ciao bella ciao bella ciao ciao ciao'

In [76]:
# Splitting Strings
s.split(' ') # returns a list

['Hello', 'there']

In [81]:
# Count occurance of a string in s 
s.count('l')

2

In [79]:
s.count('x')

0

In [80]:
s.count('there')

1

In [82]:
s.replace("Hello", "Ciao")

'Ciao there'

In [84]:
s.find("Hello")

0

In [85]:
s.find("there") # find method retuns the index of the first occurance in the string

6

In [86]:
s.find("xyz") # find method returns -1 if the substring is not present in the string

-1

In [90]:
# convert other types to string
x = 10
x

10

In [91]:
type(x)

int

In [93]:
x=str(x)
x

'10'

In [94]:
type(x)

str

In [95]:
"ABC" + 10

TypeError: can only concatenate str (not "int") to str

In [96]:
"ABC" + str(10)

'ABC10'

In [98]:
# Comparing Strings
x == "ABC10"

False

In [99]:
x == "10"

True

In [101]:
# strings in Python are case sensitive
"John" == "john"

False

In [102]:
"John".startswith('J')

True

In [103]:
"John".endswith('d')

False

In [104]:
"Abx".istitle()

True

In [105]:
"ABC".istitle()

False

In [106]:
"ABC".isupper()

True

In [107]:
"abc".islower()

True

In [108]:
"x".isalpha()

True

In [184]:
"10".isalpha()

False

In [185]:
"100000".isnumeric()

True

In [110]:
"abc".upper()

'ABC'

In [111]:
"ABC".lower()

'abc'

In [112]:
"ABC".title()

'Abc'

In [113]:
"AbCdEf".swapcase()

'aBcDeF'

In [116]:
"   ABC    ".lstrip()  # remove whitespaces from the begining

'ABC    '

In [117]:
"   ABC    ".rstrip()  # remove whitespaces from the ending

'   ABC'

In [118]:
"   ABC    ".strip()  # remove whitespaces from the begining and the ending

'ABC'

In [123]:
# create a string pattern 
# By default the values are bound to the placeholders based on the order that they are provided to the format() method.
z = "ABC{}XYZ{}"

In [124]:
z.format('V', 'W')

'ABCVXYZW'

In [129]:
# however this can be overridden by providing an index to the placeholder to tell it which value should be bound

# Of course when ordering the values it is quiet easy to get something wrong either
# because a developer might think the strings are indexed from 1 or just because they
# get the order wrong.

z = "ABC{1}XYZ{0}"

In [130]:
z.format('W', 'V')

'ABCVXYZW'

In [131]:
# An alternative approach is to use named values for the placeholders
z = "ABC{v}XYZ{w}"

In [132]:
z.format(w='W', v='V')

'ABCVXYZW'

In [133]:
z.format(v='V', w='W')

'ABCVXYZW'

In [135]:
# specify a gap of 25 characters which can be filled with a substitute value, {:25} can be used
'{:25}'.format('25 characters width')

'25 characters width      '

In [137]:
# alignment can be indicated
'{:<25}'.format('left aligned')

'left aligned             '

In [138]:
'{:>25}'.format('right aligned')

'            right aligned'

In [139]:
'{:^25}'.format('centered')

'        centered         '

In [142]:
# format numbers with comas to indicate thousands
'{:,}'.format(1234567890.121321)

'1,234,567,890.121321'

In [151]:
# format numbers with 2 decimal places
'{:.2f}'.format(1234567890.121321)

'1234567890.12'

In [152]:
# format numbers without decimal places
'{:.0f}'.format(1234567890.121321)

'1234567890'

In [150]:
# format numbers with 2 decimal places with sign
'{:+.2f}'.format(1234567890.121321)

'+1234567890.12'

In [163]:
#format numbers with thousand separators and 2 decimals
'{:,.2f}'.format(1234567890.121321)

'1,234,567,890.12'

In [164]:
# scientific notation
'{:.2e}'.format(1234567890.121321)

'1.23e+09'

In [157]:
# Pad number with zeros (left padding, width 5)
'{:0>5d}'.format(7)

'00007'

In [158]:
#Pad number with xâ€™s (right padding, width 5)
'{:x<5d}'.format(7)

'7xxxx'

In [159]:
# Format percentage (with 2 decimals)
'{:.2%}'.format(0.45)

'45.00%'

In [162]:
# Format percentage (without decimals)
'{:.0%}'.format(0.45)

'45%'

In [166]:
# Left align
'{:<10d}'.format(100)

'100       '

In [167]:
# Right align
'{:>10d}'.format(100)

'       100'

In [168]:
# Centered
'{:^10d}'.format(100)

'   100    '

In [169]:
# Convert Values to Different Bases
x = 21

In [171]:
# decimal
'{0:d}'.format(x)

'21'

In [172]:
# hex
'{0:x}'.format(x)

'15'

In [173]:
# octal
'{0:o}'.format(x)

'25'

In [174]:
# binary
'{0:b}'.format(x)

'10101'

In [175]:
# hexadecimal
'{0:X}'.format(x)

'15'

In [176]:
print(colored('hello', 'red'), colored('world', 'green'))

NameError: name 'colored' is not defined

In [177]:
from termcolor import colored

ModuleNotFoundError: No module named 'termcolor'

In [178]:
print('\x1b[6;30;42m' + 'Success!' + '\x1b[0m')

Success!

In [181]:
CRED = '\033[91m'
CEND = '\033[0m'
print(CRED + "This text is red." + CEND)

This text is red.